body {
  background-color: rgb(208, 244, 255);
}

.scorebar {
  background-color: red;
  height: 250px;
  color: white;
}

#title {
  font-family: 'Vibur', cursive;
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  padding-top: 25px;
}

#subtitle {
  font-family: 'Vibur', cursive;
  text-align: center;
  font-size: 30px;

}

#score {
  font-size: 30px;
  text-align: right;
  margin-right: 30px;
  font-family: 'Quicksand', sans-serif;
}

.character-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 0 auto;
}

.character-list-image {
  background-color:  rgb(253, 238, 243);
  text-align: center;
  border: solid;
  border-color: red;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
}

.character-list-image:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}